#headline {
    text-align: center;
}

#research {
    list-style: none;
}

.article-logo {
    width: 30%;
    text-align: center;
    display: inline-block;
}

/* .article-link {
    width: 70%;
} */